Host mainserver
  HostName 192.168.1.234
  User mirage
  IdentityFile ~/.ssh/id_ed25519
  CertificateFile ~/.ssh/id_ed25519-cert

Host vault
  HostName 192.168.1.23
  User mirage
  IdentityFile ~/.ssh/id_ed25519
  CertificateFile ~/.ssh/id_ed25519-cert

Host ansible
  HostName 192.168.1.253
  User mirage
  IdentityFile ~/.ssh/id_ed25519
  CertificateFile ~/.ssh/id_ed25519-cert

Host server1
  HostName 192.168.1.246
  User mirage
  IdentityFile ~/.ssh/id_ed25519
  CertificateFile ~/.ssh/id_ed25519-cert

Host server2
  HostName 192.168.1.24
  User mirage
  IdentityFile ~/.ssh/id_ed25519
  CertificateFile ~/.ssh/id_ed25519-cert

Host server3
  HostName 192.168.1.235
  User mirage
  IdentityFile ~/.ssh/id_ed25519
  CertificateFile ~/.ssh/id_ed25519-cert

Host torrent
  HostName 192.168.1.240
  User mirage
  IdentityFile ~/.ssh/id_ed25519
  CertificateFile ~/.ssh/id_ed25519-cert

Host proxmox
  HostName 192.168.1.100
  User mirage
  IdentityFile ~/.ssh/id_ed25519
  CertificateFile ~/.ssh/id_ed25519-cert

Host database
  HostName 192.168.1.238
  User mirage
  IdentityFile ~/.ssh/id_ed25519
  CertificateFile ~/.ssh/id_ed25519-cert
