# ssh_config.j2 (PUBLIC-SAFE TEMPLATE)

Host mainserver
  HostName {{ mainserver_host }}
  User {{ ssh_user }}
  IdentityFile {{ ssh_identity_file }}
  CertificateFile {{ ssh_certificate_file }}

Host vault
  HostName {{ vault_host }}
  User {{ ssh_user }}
  IdentityFile {{ ssh_identity_file }}
  CertificateFile {{ ssh_certificate_file }}

Host ansible
  HostName {{ ansible_host }}
  User {{ ssh_user }}
  IdentityFile {{ ssh_identity_file }}
  CertificateFile {{ ssh_certificate_file }}

Host server1
  HostName {{ server1_host }}
  User {{ ssh_user }}
  IdentityFile {{ ssh_identity_file }}
  CertificateFile {{ ssh_certificate_file }}

Host server2
  HostName {{ server2_host }}
  User {{ ssh_user }}
  IdentityFile {{ ssh_identity_file }}
  CertificateFile {{ ssh_certificate_file }}

Host server3
  HostName {{ server3_host }}
  User {{ ssh_user }}
  IdentityFile {{ ssh_identity_file }}
  CertificateFile {{ ssh_certificate_file }}

Host torrent
  HostName {{ torrent_host }}
  User {{ ssh_user }}
  IdentityFile {{ ssh_identity_file }}
  CertificateFile {{ ssh_certificate_file }}

Host proxmox
  HostName {{ proxmox_host }}
  User {{ ssh_user }}
  IdentityFile {{ ssh_identity_file }}
  CertificateFile {{ ssh_certificate_file }}

Host database
  HostName {{ database_host }}
  User {{ ssh_user }}
  IdentityFile {{ ssh_identity_file }}
  CertificateFile {{ ssh_certificate_file }}

